// VIKTIGA STORLEKAR
$headerAsSidebarBoxBigWidth: 200px;
$headerAsSidebarBoxSmallWidth: 160px;
$youTubeThumbWidth: 220px;

// plats
$platsMainBild: 400px;
$nodePlatsHeadingImageWidth: 400px;
$platFullColLeftMinBoxWidth: 320px;
$platFullColLeftMinPadding: 4px;
$platFullColRightMinPadding: 2px;
$platFullColLeftFluidPadding: 1%;
$platFullColRightFluidPadding: 1%;

// färger
$headerBgColor: #846f63; // brun
$headerBgColorAlfa: 0.6;
$navBgColor: #222; // mörkgrå
$mainBgColor: $navBgColor; 
$mainBgColorAlfa: 0.8;
$teaserBorderColor: $navBgColor;
$teaserBodyColor: #fff;


$lightBgColor: #a7d2e1; // ljusblå

$footerBgColor: green;
$bottomBgColor: yellow;
$textColorHeader: #c9a896;


// site logo
$siteLogoWidth: 170px;
$siteLogoHeight: 120px;
$siteLogoOverlap: 60px;

// länkar
$mainLinkColor: #307535;
$headerHoverLinkColor: $lightBgColor;

// teasers
$teaserMapColWidth: 40%;
$teaserDescColWidth: 60%;
$teaserBoxPadding: 0%; // hänvisar till 100% av teaserns storlek
$teaserBoxBorderWidth: 0% ; // procenten hänvisar till mains storlek
$teaserHeadningPadding: $teaserBoxPadding;
$teaserDescriptionPadding: 2%; // hänvisar till 100% av teaserns storlek - sätts om i respektive responsiv-query;
$teaserBoxMargin: 0px;
$teaserBoxWidth: 100%; // sätts om i respektive responsiv-query;
$teaserContentWidth: $teaserBoxWidth - (2 * $teaserBoxPadding); // räknas om i respektive responsiv-query;


// node-view plats


$nodePlatsRightColWidth: $youTubeThumbWidth; // bestäms av bredd youtube video
$nodePlatsLeftColWidth: $nodePlatsHeadingImageWidth; // bestäms av bredd huvudbild

$nodePlatsDescBgColor: #fff;
$nodePlatsRightColBgColor: #444;

$headerLeadningFactor: 1; // x * fontsize som leading
$headerTrailingFactor: 0.3; // x * fontsize som trailing

@mixin rightcol-background-stripe {
	//background-color: #846f63;
	background-image: url(../images/background-stripe.jpg);
	background-repeat: repeat-y;
	background-position: 0px 0px;
}

@mixin rightcol-background-stripe-padding {
	padding-left: 8px; // för stripe
}

@mixin rightcol-container {
	padding-top: 1px; // kollapsande margins
	padding-bottom: 1px; // kollapsande margins
}

@mixin debugBackground() {
	margin: -1px;
	border: 1px solid #F00;
}

@mixin h1Whitespace {
	line-height: $h1-font-size;
	margin-top: $headerLeadningFactor * $h1-font-size;
	margin-bottom: $headerTrailingFactor * $h1-font-size;
}

@mixin h2Whitespace {
	line-height: $h2-font-size;
	margin-top: $headerLeadningFactor * $h2-font-size;
	margin-bottom: $headerTrailingFactor * $h2-font-size;
}

@mixin safeTransparentBgColor($color, $alfa){
	/* Safe genomskinlig bakgrund. Se http://hammerspace.co.uk/2011/10/cross-browser-alpha-transparent-background-css för tips&trix */
	$c-rgb: rgb(red($color), green($color), blue($color));
	$c-rgba: rgba($c-rgb, $alfa);
	$c-ie: ie_hex_str($c-rgba);
	
	/* fallback för äldre webbläsare som inte kan RGBa */
	background: $c-rgb;
	/* fallback CSS-hack för IE 8 (som inte kan RGBa, men RGB + transparent) */
	background: transparent\9;
	/* plan a  */
	background: $c-rgba;
	/* fallback för IE 5.5 - 7 (som inte kan RGBa, men har egen teknik för transparens) */
	$ie-str: "progid:DXImageTransform.Microsoft.gradient(startColorstr=" + $c-ie + ", endColorstr=" + $c-ie + ")";
	filter: $ie-str;
	
	:nth-child(n) {
		/* Safe genomskinlig bakgrund. Se http://hammerspace.co.uk/2011/10/cross-browser-alpha-transparent-background-css för tips&trix */
		/* fallback For IE 9 (som kan RGBa, så jag "stänger av" tidigare gjorda kombilitetsfiler för äldre IE) */
		filter:none;
	}

}

