
@font-face {
    font-family: 'basefont';
    src: url('sansation_bold-webfont.eot');
    src: url('sansation_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansation_bold-webfont.woff') format('woff'),
         url('sansation_bold-webfont.ttf') format('truetype'),
         url('sansation_bold-webfont.svg#sansationbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'basefont';
    src: url('sansation_bold_italic-webfont.eot');
    src: url('sansation_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansation_bold_italic-webfont.woff') format('woff'),
         url('sansation_bold_italic-webfont.ttf') format('truetype'),
         url('sansation_bold_italic-webfont.svg#sansationbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'basefont';
    src: url('sansation_italic-webfont.eot');
    src: url('sansation_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansation_italic-webfont.woff') format('woff'),
         url('sansation_italic-webfont.ttf') format('truetype'),
         url('sansation_italic-webfont.svg#sansationitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'basefont';
    src: url('../fonts/sansation_light-webfont.eot');
    src: url('../fonts/sansation_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansation_light-webfont.woff') format('woff'),
         url('../fonts/sansation_light-webfont.ttf') format('truetype'),
         url('../fonts/sansation_light-webfont.svg#sansation_lightregular') format('svg');
    font-weight: lighter;
    font-style: normal;

}




@font-face {
    font-family: 'basefont';
    src: url('../fonts/sansation_light_italic-webfont.eot');
    src: url('../fonts/sansation_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansation_light_italic-webfont.woff') format('woff'),
         url('../fonts/sansation_light_italic-webfont.ttf') format('truetype'),
         url('../fonts/sansation_light_italic-webfont.svg#sansation_lightitalic') format('svg');
    font-weight: lighter;
    font-style: italic;

}




@font-face {
    font-family: 'basefont';
    src: url('sansation_regular-webfont.eot');
    src: url('../fonts/sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansation_regular-webfont.woff') format('woff'),
         url('../fonts/sansation_regular-webfont.ttf') format('truetype'),
         url('../fonts/sansation_regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lobster';
    src: url('../fonts/lobstertwo-bold-webfont.eot');
    src: url('../fonts/lobstertwo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobstertwo-bold-webfont.woff') format('woff'),
         url('../fonts/lobstertwo-bold-webfont.ttf') format('truetype'),
         url('../fonts/lobstertwo-bold-webfont.svg#lobster_twobold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'lobster';
    src: url('../fonts/lobstertwo-bolditalic-webfont.eot');
    src: url('../fonts/lobstertwo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobstertwo-bolditalic-webfont.woff') format('woff'),
         url('../fonts/lobstertwo-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/lobstertwo-bolditalic-webfont.svg#lobster_twobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'lobster';
    src: url('../fonts/lobstertwo-italic-webfont.eot');
    src: url('../fonts/lobstertwo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobstertwo-italic-webfont.woff') format('woff'),
         url('../fonts/lobstertwo-italic-webfont.ttf') format('truetype'),
         url('../fonts/lobstertwo-italic-webfont.svg#lobster_twoitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'lobster';
    src: url('../fonts/lobstertwo-regular-webfont.eot');
    src: url('../fonts/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobstertwo-regular-webfont.woff') format('woff'),
         url('../fonts/lobstertwo-regular-webfont.ttf') format('truetype'),
         url('../fonts/lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mi