#header {
	background-color: green;
}

#navigation {
	background-color: gold;
}

#content {
	background-color: red;
}

#footer {
	background-color: yellow;
}

.region-bottom {
	background-color: silver;
}



