/*
	Tre skalningsteg (bredd) 2014-05
	Se bredder handhållet: http://www.binvisions.com/articles/tablet-smartphone-resolutions-screen-size-list/
	och även för generellt http://en.wikipedia.org/wiki/List_of_common_resolutions
	
	platsbilden låses till 600px bred
	
	- staplad en kolumn (ingen header-kolumn) (nav under header)
		* INGORERA DE FÅR LANDSKAPA upp till max 460 (för 480) (portätt på äldre och billigare smartphones, såsom Galaxy II och iPhone 3Gs)
		* upp till max 1000 (för 1024) (portätt på smartphones och tabs, såsom Galaxy III och iPhone 5)
		+ Hur lösa galleri-bilder? för < 600?
		+ centrerad fast kolumn 600
	- två cols, header-kolumn (fast 180 mindre?) + main (fluid (minst 600)), nav fixed
		* Minst 1000 (för 1280) (portätt många tabs)
			# header 180 (eller 160?)
			# plats data 220 (youtube)
			# plats content  600
			* plats i main 2 col: plats bild hela (600) content fluid, data fast 220
	- två cols, header-kolumn (fast 180) + main (fluid), nav fixed
		* minst 1400 (för 1440)
			# header 180
			# plats content  600)
			# plats data fluid
			
	HÖGRE UPPL PLATS_BILD OCK KARTA BREDVI VARANDRA 50% (som kolumnerna)
	LÄGRE UNDER VARANDRA

*/


/*
* MINST 700 px
*/
$headerAsSidebarInnerPaddingRight: 10px;
$headerAsSidebarInnerPaddingLeft: $headerAsSidebarInnerPaddingRight;
$headerAsSidebarContentWidth: $headerAsSidebarBoxSmallWidth - $headerAsSidebarInnerPaddingLeft - $headerAsSidebarInnerPaddingRight;
$navFontSize: 0.8 * $base-font-size;
$navLineHeight: 0.8 * $base-line-height;

@media all and (min-width: 600px) {

	/*
	* PAGE
	* header fast $headerAsSidebarBoxSmallWidth (160px?)
	* main fluid
	*/

	#header {
   	 	float: left;
		width: $headerAsSidebarBoxSmallWidth;
		font-size: $navFontSize;
		line-height: $navLineHeight;
		
		#header-logo-block {
			position: fixed; 
			top: 0px; 
			left: 0px; 
			z-index: 99;
			width: $headerAsSidebarBoxSmallWidth; 
			
			.logo-container {
				position: relative; 
				top: 0px; 
				right: -$siteLogoOverlap; 
				z-index: 210; 
			}
		}
			
    }

    #navigation {
		font-size: $navFontSize;
		line-height: $navLineHeight;
		position: fixed;
		left: 0%;
		top: 0%;
		width: 100%;
		z-index: 49;
		
		.region-navigation {
			margin-left: $headerAsSidebarBoxSmallWidth;
			
			#block-system-main-menu {
				padding-left: $siteLogoOverlap + ($siteLogoOverlap / 2);
			}
		}
	}
	
	
	#main {
		float: left;
		width: 100%;
		margin-left: -$headerAsSidebarBoxSmallWidth;
		
		>.inner {
			margin-left: $headerAsSidebarBoxSmallWidth;
		}
		
    }
	

	/*
	* PLATS FULL NODE
	* plats list node: float 25% ???
	* plats full node: stacked platsbild och karta: 2 col float 50%
	* plats full node: col content fast (440px ?) & col data fluid (minst 220 + *padding)
	* plats full node: col data fluid innehåll
	*/
	
	$platsColLeftContentWidth: $platFullColLeftMinBoxWidth - (2*$platFullColLeftMinPadding);
	$platsColRightContentWidth: 100%;
 
	
	body.node-type-plats .group-left {
		float: left;
		width: $platsColLeftContentWidth;
		padding: $platFullColLeftMinPadding;
		
	}
	
	body.node-type-plats .group-right {
		float: left;
		width: $platsColRightContentWidth;
		padding: 0px;
		margin-left: -$platsColLeftContentWidth;
		
		>.inner {
			background-color: blue;
			margin-left: $platsColLeftContentWidth;
			padding: $platFullColRightMinPadding;
		}
	}
	
} // slut MINST 700



/*
* MINST 800 px
*/
$headerAsSidebarInnerPaddingRight: 10px;
$headerAsSidebarInnerPaddingLeft: $headerAsSidebarInnerPaddingRight;
$headerAsSidebarContentWidth: $headerAsSidebarBoxBigWidth - $headerAsSidebarInnerPaddingLeft - $headerAsSidebarInnerPaddingRight;
$navFontSize: $base-font-size;
$navLineHeight: $base-line-height;

@media all and (min-width: 800px) {

	/*
	* PAGE
	* header fast $headerAsSidebarBoxBigWidth (220px?)
	* main fluid
	*/

	#header {
   	 	float: left;
		width: $headerAsSidebarContentWidth;
		font-size: $navFontSize;
		line-height: $navLineHeight;
		
		#header-logo-block {
			position: fixed; 
			top: 0px; 
			left: 0px; 
			z-index: 99;
			width: $headerAsSidebarContentWidth; 
			
			.logo-container {
				position: relative; 
				top: 0px; 
				right: -$siteLogoOverlap; 
				z-index: 210; 
			}
		}
			
    }

    #navigation {
		font-size: $navFontSize;
		line-height: $navLineHeight;
		position: fixed;
		left: 0%;
		top: 0%;
		width: 100%;
		z-index: 49;
		
		.region-navigation {
			margin-left: $headerAsSidebarContentWidth;
			
			#block-system-main-menu {
				padding-left: $siteLogoOverlap + ($siteLogoOverlap / 2);
			}
		}
	}
	
	
	#main {
		float: left;
		width: 100%;
		margin-left: -$headerAsSidebarContentWidth;
		
		>.inner {
			margin-left: $headerAsSidebarContentWidth;
		}
		
    }
	

	/*
	* PLATS FULL NODE
	* plats list node: float 25%
	* plats full node: stacked platsbild och karta
	* plats full node: col content & col data: float 50%
	* plats full node: col data fluid innehåll
	*/
	
	$platsColLeftBoxWidth: 50% - (2*$platFullColLeftFluidPadding);
	$platsColRightBoxWidth: 50% - (2*$platFullColRightFluidPadding);
 
	
	body.node-type-plats .group-left {
		float: left;
		width: $platsColLeftBoxWidth;
		padding: $platFullColLeftFluidPadding;
	}
	
	body.node-type-plats .group-right {
		float: left;
		width: $platsColRightBoxWidth;
		padding: $platFullColRightFluidPadding;
		margin:0px;
		
		>.inner {
			margin:0px;
		}
	}
	
} // slut MINST 800

			

/*
* MINST 1100 px
*/

@media all and (min-width: 1100px) {



	/*
	* PLATS FULL NODE
	* plats list node: float 25%
	* plats full node: stacked platsbild och karta -> 2 col float 50%
	* plats full node: col content & col data: float 50%
	* plats full node: col data fluid innehåll
	*/
	
	$platsColLeftBoxWidth: 50% - (2*$platFullColLeftFluidPadding);
	$platsColRightBoxWidth: 50% - (2*$platFullColRightFluidPadding);
 
	body.node-type-plats .field-name-field-platsbild {
		float: left;
		width: 50%;
	}
	
	body.node-type-plats .field-name-field-geodata-map {
		float: left;
		width: 50%;
	}
	
	
	/* teasers */
	
	$teaserBoxWidth: 25%; // fyra kolumner
	$teaserContentWidth: $teaserBoxWidth - $teaserBoxBorderWidth;  

	#content {
	
		div.node-teaser {
			width: $teaserContentWidth;
			
			h2 {
				width: 100%;
			}
			
			.group-left {
				width: $teaserMapColWidth;
			}
			
			.group-right {
				width: $teaserDescColWidth;
				font-size: 0.7em;
				line-height: 1.1em;
				
				.field-name-field-platsnamn {
					font-size: 1.4em;
					line-height: 1.2em;
				}
			}

		}
	}
	
	
} // slut MINST 1100

/*
* MINST 1400 px
*/

@media all and (min-width: 1400px) {




	/* teasers */
	
	$teaserBoxWidth: 20%; // fem kolumner
	$teaserContentWidth: $teaserBoxWidth - $teaserBoxBorderWidth; 

	#content {
	
		div.node-teaser {
			width: $teaserContentWidth;
			
		}
	}
	
	
} // slut MINST 1100

